@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .animate-fade {
    animation: fading-out 5500ms linear infinite;
  }
  @keyframes fading-out {
    0% {
      opacity: 50%;
    }
    20% {
      opacity: 100%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      opacity: 50%;
    }
  }

  .bg-100_100 {
    background-size: 100px 100px;
  }

  .h-nav {
    min-height: calc(100vh - 90px);
  }

  .max-h-nav {
    height: calc(100vh - 90px);
  }

  .bg-img {
    background: url('/home_page_sliders/slider1.png') no-repeat center center;
    background-size: cover;
    position: relative; 
  }
  
  .bg-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }
  
  
}
